<template>
  <div>
    <h1>Uploader</h1>
    <input type="file" accept="*/*" ref="filePicker" />
    <button @click="uploadToWasabi()">Upload to Wasabi</button>
  </div>
</template>

<script>
var AWS = require('aws-sdk');

var ep = new AWS.Endpoint('s3.wasabisys.com');
AWS.config.update({
  region: 'us-west-1',
  credentials: {
    accessKeyId: 'VXVLB5NLSDS8NJ8UELH6',
    secretAccessKey: 'UH1OJ2GFEWYhmDmR8qDD8mdDIiInahISzce5IcLv',
  },
  s3: {
    endpoint: new AWS.Endpoint('s3.us-west-1.wasabisys.com')
  }
});

// Create an S3 client
var bucketName = 'unauth-bucket';
var s3 = new AWS.S3({
  apiVersion: "2006-03-01",
  params: { Bucket: bucketName }
});

export default {
  methods: {
    uploadToWasabi: function() {
      console.info('💁 uploadToWasabi')
      const file = this.$refs.filePicker.files[0]
      console.debug(`🔊 file.name:`, file.name)
      console.debug(`🔊 file.type:`, file.type)

      // Use S3 ManagedUpload class as it supports multipart uploads
      var upload = new AWS.S3.ManagedUpload({
        params: {
          Bucket: bucketName,
          Key: file.name,
          Body: file,
          ACL: "public-read"
        }
      });

      var promise = upload.promise();

      promise.then(
        function(data) {
          alert("Successfully uploaded photo.");
          viewAlbum(albumName);
        },
        function(err) {
          return alert("There was an error uploading your photo: ", err.message);
        }
      );
    },

// uploadToS3: function() {
    //   console.info('💁 uploadToS3')
    //   const file = this.$refs.filePicker.files[0]
    //   console.debug(`🔊 file.name:`, file.name)
    //   console.debug(`🔊 file.type:`, file.type)
    //   // debugger;
    //   Storage.put(file.name, file, {
    //     level: 'public',
    //     contentType: file.type,
    //   })
    //   .then (result => console.log(result))
    //   .catch(err => {
    //     console.log('FUCK')
    //     console.log(err)
    //   });
    // }
  },
}
</script>
